@import "~bootstrap/scss/bootstrap.scss";
body{
    //background-color: #d4d3f5;
    background-image: url("https://cdn.player.one/sites/player.one/files/2020/03/09/mario-day-gamestop.jpg");
    position:relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.menuPlayer{
    width: 50rem;
    height: 47rem;
    background-color: #ffffff;
    border-radius: 1rem;
    margin: auto;
}
